<!-- Main Content -->
<div class="row m-3">
    <div class="col-3">
        <div class="card mt-2">
            <div class="card-body">
                <h2 class="card-title mb-4 text-center">Log-in</h2>
                <hr>
                <form>
                    <div class="form-floating mb-3" [class.has-error]="empidControl.invalid && empidControl.touched">
                        <input [(ngModel)]="loginData.empid" #empid type="text" name="empid" class="form-control"
                            id="empid" placeholder="30190002" #empidControl="ngModel" required>
                        <label for="empid">Employee Id</label>
                        <small class="text-danger" *ngIf="empidControl.invalid && empidControl.touched">
                            Please enter your employee ID.
                        </small>
                    </div>

                    <div class="form-floating mb-1"
                        [class.has-error]="passwordControl.invalid && passwordControl.touched">
                        <input [(ngModel)]="loginData.password" #password type="password" name="password"
                            class="form-control" id="password" placeholder="Password"
                            [type]="show ? 'text' : 'password'" #passwordControl="ngModel" required>
                        <label for="password">Password</label>
                        <small class="text-danger" *ngIf="passwordControl.invalid && passwordControl.touched">
                            Please enter a password.
                        </small>
                    </div>

                    <small><span class="text-primary" data-toggle="modal" data-target="#forgot-password"
                            style="cursor: pointer;">
                            forgot password ?</span></small>
                    <div class="form-check" style="float: right;">
                        <input class="form-check-input" style="height: 15px; width:15px; cursor: pointer;"
                            type="checkbox" id="showpassword" (click)="showPassword()">
                        <label class="form-check-label" for="showpassword"
                            style="user-select: none; font-size: 14px; cursor: pointer;">show</label>
                    </div>

                    <button class="btn btn-primary mt-5 mb-1 btn-sm" type="submit" style="width: 100%;"
                        (click)='login()' [disabled]="!empidControl.valid || !passwordControl.valid">Login</button><br>
                    <div class="text-center">
                        <small>Not registered ?<a routerLink="/signup" style="text-decoration: none;">
                                Signup</a></small>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="card mt-2 mb-2">
            <div class="card-body">
                <h3><a style="color: #E55451; text-decoration: underline;"
                        href="https://www.le-transformation.com/">L.E.
                        Transformation</a></h3>
                <h6>Delivering credible solutions for incredible bussinesses.</h6>
                <hr>
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="..." alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="..." alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="..." alt="Third slide">
                        </div>
                    </div>
                </div>
                <p class="mt-4">Improving the customer experience by helping you work smarter, not harder. We know the
                    key to
                    developing
                    successful partnerships and relationships is not just meeting, but exceeding our client's
                    needs.<br><br>
                    Serving various clients accross different countries.</p>
                <hr>
                <p>This is a Daily Work Management tool developed and powered by L.E. Transformation.</p>
            </div>
        </div>
    </div>
</div>

<!-- Forgot Password Modal -->
<div class="modal fade" id="forgot-password" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Forgot Password ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-floating mb-3" [class.has-error]="empidControl.invalid && empidControl.touched">
                    <input [(ngModel)]="loginData.empid" #empid type="text" name="empid" class="form-control" id="empid"
                        placeholder="30190002" #empidControl="ngModel" required>
                    <label for="empid">Employee Id</label>
                    <small class="text-danger" *ngIf="empidControl.invalid && empidControl.touched">
                        Please enter your employee ID.
                    </small>
                </div>

                <div class="form-floating mb-3">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                        <option selected>Select ...</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <label for="floatingSelect">Select a Security Question</label>
                </div>

                <div class="form-floating mb-3" [class.has-error]="empidControl.invalid && empidControl.touched">
                    <input [(ngModel)]="loginData.empid" #empid type="text" name="empid" class="form-control" id="empid"
                        placeholder="30190002" #empidControl="ngModel" required>
                    <label for="empid">Security Question's Answer</label>
                    <small class="text-danger" *ngIf="empidControl.invalid && empidControl.touched">
                        Please enter your employee ID.
                    </small>
                </div>

                <div class="row">
                    <div class="col">
                        <button class="btn btn-outline-primary btn-sm w-100" type="submit">Confirm</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-danger btn-sm w-100" type="submit" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<app-footer></app-footer>