<!-- Main Content -->
<div class="row m-3">
    <div class="col-3">
        <div class="card mt-2">
            <div class="card-body">
                <h2 class="card-title mb-4 text-center">Log-in</h2>
                <hr>
                <form>
                    <div class="form-floating mb-3" [class.has-error]="empidControl.invalid && empidControl.touched">
                        <input [(ngModel)]="loginInput.empid" #empid type="text" name="empid" class="form-control"
                            id="empid" placeholder="30190002" #empidControl="ngModel" required>
                        <label for="empid">Employee Id</label>
                        <small class="text-danger" *ngIf="empidControl.invalid && empidControl.touched">
                            Please enter your employee ID.
                        </small>
                    </div>

                    <div class="form-floating mb-1"
                        [class.has-error]="passwordControl.invalid && passwordControl.touched">
                        <input [(ngModel)]="loginInput.password" #password type="password" name="password"
                            class="form-control" id="password" placeholder="Password"
                            [type]="show ? 'text' : 'password'" #passwordControl="ngModel" required>
                        <label for="password">Password</label>
                        <small class="text-danger" *ngIf="passwordControl.invalid && passwordControl.touched">
                            Please enter a password.
                        </small>
                    </div>

                    <small><span class="text-primary" data-toggle="modal" data-target="#forgot-password"
                            style="cursor: pointer;">
                            Forgot Password ?</span></small>
                    <div class="form-check" style="float: right;">
                        <input class="form-check-input" style="height: 15px; width:15px; cursor: pointer;"
                            type="checkbox" id="showpassword" (click)="showPassword()">
                        <label class="form-check-label" for="showpassword"
                            style="user-select: none; font-size: 14px; cursor: pointer;">show</label>
                    </div>

                    <button class="btn btn-primary mt-5 mb-1 btn-sm" type="submit" style="width: 100%;"
                        (click)='login()' [disabled]="!empidControl.valid || !passwordControl.valid">Login</button><br>
                    <div class="text-center">
                        <small>Not registered ?<a routerLink="/signup" style="text-decoration: none;">
                                Signup</a></small>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="card mt-2 mb-2">
            <div class="card-body">
                <h3><a style="color: #E55451; text-decoration: underline;" href="">Daily Work Management</a></h3>
                <h6>Delivering credible solutions for incredible bussinesses.</h6>
                <hr>
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="" alt="Third slide">
                        </div>
                    </div>
                </div>
                <p class="mt-4">A Daily Work Management is a system that provides the ability to manage employee/admin's
                    everyday operations.
                </p>
                <hr>
                <p>This is a Daily Work Management tool developed and powered to eliminate lean waste and create value.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Forgot Password Modal -->
<div class="modal fade" id="forgot-password" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Forgot Password ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-floating mb-3" [class.has-error]="emailControl.invalid && emailControl.touched">
                    <input [(ngModel)]="forgotPasswordInput.email" #empid type="email" name="email" class="form-control"
                        id="email" placeholder="30190002" #emailControl="ngModel" required>
                    <label for="email">Email Address</label>
                    <small class="text-danger" *ngIf="emailControl.invalid && emailControl.touched">
                        Please provide an email address.
                    </small>
                </div>

                <div class="form-floating mb-3" [class.has-error]="answerControl.invalid && answerControl.touched">
                    <input [(ngModel)]="forgotPasswordInput.phone" #empid type="text" name="phone" class="form-control"
                        id="phone" placeholder="30190002" #phoneControl="ngModel" required>
                    <label for="phone">Phone number</label>
                    <small class="text-danger" *ngIf="phoneControl.invalid && phoneControl.touched">
                        Please provide a phone number.
                    </small>
                </div>

                <div class="form-floating mb-3" [class.has-error]="questionControl.invalid && questionControl.touched">
                    <select [(ngModel)]="forgotPasswordInput.question" #question #questionControl="ngModel"
                        class="form-select" id="floatingSelect" aria-label="Floating label select example">
                        <option selected disabled>Select ...</option>
                        <option value="In what city were you born ?">In what city were you born ?</option>
                        <option value="What is your mother's maiden name ?">What is your mother's maiden name ?</option>
                        <option value="What is your all time favourite song ?">What is your all time favourite song ?
                        </option>
                        <option value="What high school did you attend ?">What high school did you attend ?</option>
                        <option value="What is your first special friend's name ?">What is your first special friend's
                            name ?</option>
                        <option value="Which is your favourite film ?">Which is your favourite film ?</option>
                    </select>
                    <label for="floatingSelect">Select a Security Question</label>
                    <small class="text-danger" *ngIf="questionControl.invalid || questionControl.touched">
                        Please select a security question.
                    </small>
                </div>

                <div class="form-floating mb-3" [class.has-error]="answerControl.invalid && answerControl.touched">
                    <input [(ngModel)]="forgotPasswordInput.answer" #empid type="text" name="answer" class="form-control"
                        id="answer" placeholder="30190002" #answerControl="ngModel" required>
                    <label for="answer">Security Question's Answer</label>
                    <small class="text-danger" *ngIf="answerControl.invalid && answerControl.touched">
                        Please provide an answer.
                    </small>
                </div>

                <div class="row">
                    <div class="col">
                        <button class="btn btn-outline-primary btn-sm w-100" type="submit"
                            [disabled]="!emailControl.valid || !phoneControl.valid ||!questionControl.valid || !answerControl.valid"
                            (click)="forgotPassword()">Confirm</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-danger btn-sm w-100" type="submit"
                            data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<app-footer></app-footer>