<!-- Client-Task Mapping Table -->
<div class="card m-3">
    <div class="card-body">
        <h3 class="mb-3">
            Client-Task Mapping
            <button type="button" class="btn btn-sm btn-outline-primary
            mb-4" style="float: right;" data-toggle="modal" data-target="#ctmap">
                <i class="bi bi-link-45deg"></i> Associate
            </button>
        </h3>
        <div style="height: auto; overflow: auto;">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Client</th>
                        <th scope="col">Task</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of ctmap ; let i=index">
                        <td>{{i + 1}}</td>
                        <td>{{item.ctname}}</td>
                        <td>{{item.ctdescription}}</td>
                        <td>
                            <button type="button" class="btn
                      btn-outline-danger btn-sm"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Associate Client Modal -->
<div class="modal fade" id="ctmap" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><i class="bi bi-link-45deg"></i> Associate
                    Client-Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <!-- Associate dropdowns -->
                <div class="form-row">
                    <div class="form-group col-md-6" [class.has-error]="ctnameControl.invalid && ctnameControl.touched">
                        <label for="ctname">Client</label>
                        <div class="dropdown">
                            <select [(ngModel)]="associate_data.ctname" name="ctname" id="ctname"
                                class="btn btn-light dropdown-toggle" style="width: 100%; text-align: left;"
                                #ctnameControl="ngModel" required>
                                <option class="dropdown-item">Select a Client ...</option>
                                <option class="dropdown-item" *ngFor="let item of clients">{{item.name}}</option>
                            </select>
                        </div>
                        <small class="text-danger" *ngIf="ctnameControl.invalid && ctnameControl.touched">
                            Please select a client.
                        </small>
                    </div>

                    <div class="form-group col-md-6" [class.has-error]="ctdescriptionControl.invalid && ctdescriptionControl.touched">
                        <label for="description">Task</label>
                        <div class="dropdown">
                            <select [(ngModel)]="associate_data.ctdescription" name="description" id="description"
                                class="btn btn-light dropdown-toggle" style="width: 100%; text-align: left;" #ctdescriptionControl="ngModel" required>
                                <option class="dropdown-item">Select a Task ...</option>
                                <option class="dropdown-item" *ngFor="let item of tasks">{{item.description}}</option>
                            </select>
                        </div>
                        <small class="text-danger" *ngIf="ctdescriptionControl.invalid && ctdescriptionControl.touched">
                            Please select a task.
                        </small>
                    </div>
                </div>

                <div class="text-center">
                    <button type="button" class="btn btn-sm btn-outline-success" data-dismiss="modal"
                        (click)="associate_ctmap()" [disabled]="!ctnameControl.valid || !ctdescriptionControl.valid"><i class="bi bi-link-45deg"></i> Associate</button>
                </div>
            </div>
        </div>
    </div>
</div>