<!-- Side Navigation Contents -->
<div class="list-group list-group-flush" style="cursor: pointer;">
    <a class="list-group-item list-group-item-action" (click)="gotoEmployees()">
        <i class="bi bi-person-circle"></i> Employees
    </a>
    <a class="list-group-item list-group-item-action" (click)="gotoClients()">
        <i class="bi bi-person-lines-fill"></i> Clients
    </a>
    <a class="list-group-item list-group-item-action" (click)="gotoTasks()">
        <i class="bi bi-list-task"></i> Tasks
    </a>
    <a class="list-group-item list-group-item-action" (click)="gotoCtmap()">
        <i class="bi bi-link-45deg"></i> Client-Task Mapping
    </a>
</div>