<div class="row m-3">
  <div class="col-md-8">
    <div class="card mt-2 mb-2">
      <div class="card-body">
        <h3><a style="color: #E55451; text-decoration: underline;" href="https://www.le-transformation.com/">L.E.
            Transformation</a></h3>
        <h6>Delivering credible solutions for incredible bussinesses.</h6>
        <hr>
        <img src="/assets/image1.jpg" alt="Loading image ..." width="100%" height="30%">
        <p class="mt-4">Improving the customer experience by helping you work smarter, not harder. We know the key to
          developing
          successful partnerships and relationships is not just meeting, but exceeding our client's needs.<br><br>
          Serving various clients accross different countries.</p>
        <hr>
        <p>This is a Daily Work Management tool developed and powered by L.E. Transformation.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mx-auto mt-2 mb-2" style="width: 20rem;">
      <div class="card-body" style="padding: 20px;">
        <h2 class="card-title mb-4 text-center">Log-in</h2>
        <hr>
        <form>
          <div class="form-floating mb-3" [class.has-error]="empidControl.invalid && empidControl.touched">
            <input [(ngModel)]="loginData.empid" #empid type="text" name="empid" class="form-control" id="empid"
              placeholder="30190002" #empidControl="ngModel" required>
            <label for="empid">Employee Id</label>
            <small class="text-danger" *ngIf="empidControl.invalid && empidControl.touched">
              Please enter your employee ID.
            </small>
          </div>

          <div class="form-floating mb-1" [class.has-error]="passwordControl.invalid && passwordControl.touched">
            <input [(ngModel)]="loginData.password" #password type="password" name="password" class="form-control"
              id="password" placeholder="Password" [type]="show ? 'text' : 'password'" #passwordControl="ngModel"
              required>
            <label for="password">Password</label>
            <small class="text-danger" *ngIf="passwordControl.invalid && passwordControl.touched">
              Please enter a password.
            </small>
          </div>

          <span style="color: DodgerBlue; cursor: pointer;" data-toggle="modal"
            data-target="#forgotPassword"><small>Forgot Password ?</small></span>
          <div style="float: right;">
            <input class="form-check-input" style="height: 15px; width:15px;
                        float: right;" type="checkbox" value="" id="showpassword">
            <label class="form-check-label" for="showpassword" style="user-select: none; cursor: pointer;"
              (click)="showPassword()">
              show
            </label>
          </div>

          <button class="btn btn-primary mt-5 mb-1 btn-sm" type="submit" style="width: 100%;" (click)='login()'
            [disabled]="!empidControl.valid || !passwordControl.valid">Login</button><br>
          <div class="text-center">
            <small>Not registered ?<a routerLink="/signup" style="text-decoration: none;"> Signup</a></small>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Forgot Password Modal -->
<div class="modal fade" id="forgotPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <i class="bi bi-info-circle-fill"></i> Information
        <hr>
        Please use the password sent on your mail or contact the Administrator.
        <button type="button" class="btn btn-sm btn-outline-primary mt-3" style="float: right;"
          data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>


<select name="cars" id="cars">
  <option value="volvo">Volvo</option>
</select>

<select name="cars" id="cars">
  <option value="volvo">Volvo</option>
</select>

<app-footer></app-footer>