<div class="card mt-3 m-auto" style="width: 800px;">
    <div class="card-body">
        <h3>
            <i class="bi bi-person-circle"></i>
            Update Profile
        </h3>
        <h6 class="card-subtitle mb-2 text-muted">Please update your profile to navigate to your designated dashboard.
        </h6>
        <hr>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput" disabled>Employee ID</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Name</label>
        </div>

        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Phone</label>
                </div>
            </div>
        </div>

        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Designation</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Date of Joining</label>
                </div>
            </div>
        </div>

        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Password</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Confirm Password</label>
                </div>
            </div>
        </div>

        <button type="button" data-toggle="modal" data-target="#updateProfile" class="btn btn-sm btn-outline-primary">Go
            to Dashboard <i class="bi bi-arrow-right-short"></i></button>

    </div>
</div>

<!-- Update Profile Modal -->
<div class="modal fade" id="updateProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    Please make sure the information is true and correct, you won't be able to change it later.
                </div>
                <div style="float: right;">
                    <button type="button" class="btn btn-sm btn-outline-primary mr-2"
                        data-dismiss="modal">Go
                        to Dashboard <i class="bi bi-arrow-right-short"></i></button>
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>