<!--Client Card-->
<h3 class="mb-3">
    Clients
    <div style="float: right;">
        <button type="button" class="btn btn-sm btn-outline-primary mr-2" data-toggle="modal" data-target="#addclient">
            <i class="bi bi-plus-lg"></i> Add
        </button>
        <button type="button" class="btn btn-sm btn-outline-success" (click)="clients_csv()">
            <i class="bi bi-arrow-down-short">
            </i> Download .csv
        </button>
    </div>
</h3>
<div style="height: auto; overflow: auto;">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Client ID</th>
                <th scope="col">Name</th>
                <th scope="col">Location</th>
                <th scope="col">Functions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of clients; let i = index">
                <td>{{i + 1}}</td>
                <td>{{item.clientid}}</td>
                <td>{{item.cl_name}}</td>
                <td>{{item.location}}</td>
                <td>
                    <button type="button" class="btn
                      btn-outline-primary btn-sm mr-2" data-toggle="modal" data-target="#updateclient"><i
                            class="bi bi-pencil-square"></i></button>
                    <button type="button" class="btn
                      btn-outline-danger btn-sm" (click)=" delete_Client(item)"><i class="bi bi-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Add Client Modal -->
<div class="modal fade" id="addclient" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><i class="bi bi-person-plus-fill"></i> Add Client
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="clientid">Client ID</label>
                        <input [(ngModel)]="addClient.clientid" type="text" class="form-control" id="clientid"
                            placeholder="Client ID">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Name</label>
                        <input [(ngModel)]="addClient.cl_name" type="text" class="form-control" id="name"
                            placeholder="Name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="location">Location</label>
                        <input [(ngModel)]="addClient.location" type="text" class="form-control" id="location"
                            placeholder="Location">
                    </div>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-sm btn-outline-success" data-dismiss="modal"
                        (click)="add_client()">
                        <i class="bi bi-plus"></i> Add</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Update Client Modal -->
<div class="modal fade" id="updateclient" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Update Client</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="uclientid">Client ID</label>
                            <input type="text" class="form-control" id="uclientid" placeholder="Client ID">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="uname">Name</label>
                            <input type="text" class="form-control" id="uname" placeholder="Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="ulocation">Location</label>
                            <input type="text" class="form-control" id="ulocation" placeholder="Location">
                        </div>
                    </div>
                </form>

                <div class="text-center">
                    <button type="button" class="btn btn-outline-success" data-dismiss="modal"
                        (click)="update_client()"><i class="bi bi-clipboard-check"></i>
                        Update</button>
                </div>
            </div>
        </div>
    </div>
</div>