<!-- Record Card Table -->
<div class="card m-3">
    <div class="card-body">
        <div class="mb-3">
            <h3>
                Daily Work Records
                <button class="btn btn-sm btn-outline-success" type="button" data-toggle="modal"
                    data-target="#addrecord" style="float: right;"><i class="bi bi-plus"></i> Add</button>
            </h3>
        </div>

        <!-- Download dropdown -->
        <div class="dropdown float-right">
            <button type="button" class="btn btn-sm btn-outline-success" (click)="download_csv()"><i
                    class="bi bi-arrow-down-short"></i> Download .csv</button>
        </div>

        <!-- Select Month -->
        <!-- <div class="input-group input-group-sm mb-3" style="width: 300px;">
            <div class="input-group-prepend">
                <span class="input-group-text">Select Month</span>
            </div>
            <input [(ngModel)]="month" type="month" class="custom-select" value="currMonth">
            <button type="button" class="btn btn-sm btn-outline-primary" (click)="searchRecords()"><i
                    class="bi bi-search"></i></button>
        </div> -->

        <div class="form-row">
            <div class="col-auto" style="width: 210px;">
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Start Date</span>
                    </div>
                    <input type="date" [(ngModel)]="startdate" name="startdate" class="form-control" aria-label="Small"
                        aria-describedby="inputGroup-sizing-sm"
                        onfocus="this.max=new Date().toISOString().split('T')[0]" #startdateControl="ngModel" required>
                </div>
            </div>
            <div class="col-auto" style="width: 210px;">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">End Date</span>
                    </div>
                    <input type="date" [(ngModel)]="enddate" name="enddate" class="form-control" aria-label="Small"
                        aria-describedby="inputGroup-sizing-sm"
                        onfocus="this.max=new Date().toISOString().split('T')[0]" #enddateControl="ngModel" required>
                </div>
            </div>
            <div class="col-sm-1">
                <button type="submit" class="btn btn-sm btn-outline-primary" (click)="searchRecords()"
                    [disabled]="!startdateControl.valid || !enddateControl.valid">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>

        <!-- Record's Table -->
        <table id="records" class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Attendance</th>
                    <th scope="col">Client</th>
                    <th scope="col">Task</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Description</th>
                    <th scope="col" style="width: 50px;">Functions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of employeeSpecificRecords; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{item.date | date: 'dd-MM-yyyy'}}</td>
                    <td>{{item.attendance}}</td>
                    <td>{{item.cl_name}}</td>
                    <td>{{item.task}}</td>
                    <td>{{item.duration}}</td>
                    <td>{{item.description}}</td>
                    <td>
                        <button type="button" class="btn btn-outline-primary btn-sm
                  mr-2" data-toggle="modal" data-target="#updaterecord" disabled><i
                                class="bi bi-pencil-square"></i></button>
                        <button type="button" class="btn btn-outline-danger btn-sm" (click)=" delete_Record(item)"><i
                                class="bi bi-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Add record Modal -->
<div class="modal fade" id="addrecord" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><i class="bi bi-calendar-plus"></i> Add Record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">

                    <div class="form-group col-md-6" [class.has-error]="dateControl.invalid && dateControl.touched">
                        <label for="date">Date</label>
                        <input [(ngModel)]="addRecord.date" #dateControl="ngModel" type="date" class="form-control"
                            onfocus="this.max = new Date().toISOString().split('T')[0]" id="date" required>
                        <small class="text-danger" *ngIf="dateControl.invalid && dateControl.touched">
                            Please select the date.
                        </small>
                    </div>

                    <div class="form-group col-md-6"
                        [class.has-error]="durationControl.invalid && durationControl.touched">
                        <label for="duration">Duration</label>
                        <div class="dropdown">
                            <select [(ngModel)]="addRecord.duration" name="duration" id="duration"
                                class="btn btn-light dropdown-toggle" style="width: 100%; text-align: left;"
                                #durationControl="ngModel" required>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                            </select>
                        </div>
                        <small class="text-danger" *ngIf="durationControl.invalid && durationControl.touched">
                            Please select your working hours.
                        </small>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6" [class.has-error]="clientControl.invalid && clientControl.touched">
                        <label for="client">Client</label>
                        <div class="dropdown">
                            <select [(ngModel)]="addRecord.cl_name" (change)="selectClient($event)" name="client"
                                id="client" class="btn btn-light dropdown-toggle" style="width: 100%; text-align: left;"
                                #clientControl="ngModel" required>
                                <option class="dropdown-item" *ngFor="let item of clients" value="{{item.cl_name}}">
                                    {{item.cl_name}}
                                </option>
                            </select>
                        </div>
                        <small class="text-danger" *ngIf="clientControl.invalid && clientControl.touched">
                            Please select a client.
                        </small>
                    </div>

                    <div class="form-group col-md-6" [class.has-error]="taskControl.invalid && taskControl.touched">
                        <label for="task">Task</label>
                        <div class="dropdown">
                            <select [(ngModel)]="addRecord.task" name="task" id="task"
                                class="btn btn-light dropdown-toggle" style="width: 100%; text-align: left;"
                                #taskControl="ngModel" required>
                                <option class="dropdown-item" *ngFor="let item of task_list" value="{{item.task}}">
                                    {{item.task}}
                                </option>
                            </select>
                        </div>
                        <small class="text-danger" *ngIf="taskControl.invalid && taskControl.touched">
                            Please select a task.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">Description (optional)</label>
                    <textarea [(ngModel)]="addRecord.description" class="form-control" id="description" rows="2"
                        placeholder="Description"></textarea>
                </div>

                <div class="text-center">
                    <button
                        [disabled]="!dateControl.valid || !durationControl.valid || !clientControl.valid || !taskControl.valid"
                        type="button" class="btn btn-sm btn-outline-success" data-dismiss="modal"
                        (click)="add_Record()"><i class="bi bi-plus"></i>
                        Add</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Update record Modal -->
<div class="modal fade" id="updaterecord" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><i class="bi bi-calendar-check"></i> Add Record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">

                    <div class="form-group col-md-6" [class.has-error]="dateControl.invalid && dateControl.touched">
                        <label for="date">Date</label>
                        <input [(ngModel)]="addRecord.date" #dateControl="ngModel" type="date" class="form-control"
                            onfocus="this.max = new Date().toISOString().split('T')[0]" id="date" required>
                        <small class="text-danger" *ngIf="dateControl.invalid && dateControl.touched">
                            Please select the date.
                        </small>
                    </div>

                    <div class="form-group col-md-6"
                        [class.has-error]="durationControl.invalid && durationControl.touched">
                        <label for="duration">Duration</label>
                        <div class="dropdown">
                            <select [(ngModel)]="addRecord.duration" name="duration" id="duration"
                                class="btn btn-light dropdown-toggle" style="width: 100%; text-align: left;"
                                #durationControl="ngModel" required>
                                <option class="dropdown-item">1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                            </select>
                        </div>
                        <small class="text-danger" *ngIf="durationControl.invalid && durationControl.touched">
                            Please select your working hours.
                        </small>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6" [class.has-error]="clientControl.invalid && clientControl.touched">
                        <label for="client">Client</label>
                        <div class="dropdown">
                            <select [(ngModel)]="addRecord.clientname" name="client" id="client"
                                class="btn btn-light dropdown-toggle" style="width: 100%; text-align: left;"
                                #clientControl="ngModel" required>
                                <option class="dropdown-item">Select a Client ...</option>
                                <option class="dropdown-item" *ngFor="let item of clients">{{item.name}}</option>
                            </select>
                        </div>
                        <small class="text-danger" *ngIf="clientControl.invalid && clientControl.touched">
                            Please select a client.
                        </small>
                    </div>

                    <div class="form-group col-md-6" [class.has-error]="taskControl.invalid && taskControl.touched">
                        <label for="task">Task</label>
                        <div class="dropdown">
                            <select [(ngModel)]="addRecord.taskdescription" name="task" id="task"
                                class="btn btn-light dropdown-toggle" style="width: 100%; text-align: left;"
                                #taskControl="ngModel" required>
                                <option class="dropdown-item">Select a Task ...</option>
                                <option class="dropdown-item" *ngFor="let item of tasks">{{item.description}}</option>
                            </select>
                        </div>
                        <small class="text-danger" *ngIf="taskControl.invalid && taskControl.touched">
                            Please select a task.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">Description (optional)</label>
                    <textarea [(ngModel)]="addRecord.description" class="form-control" id="description" rows="2"
                        placeholder="Description"></textarea>
                </div>

                <div class="text-center">
                    <button
                        [disabled]="!dateControl.valid || !durationControl.valid || !clientControl.valid || !taskControl.valid"
                        type="button" class="btn btn-sm btn-outline-success" data-dismiss="modal"
                        (click)="add_Record()"><i class="bi bi-plus"></i>
                        Add</button>
                </div>
            </div>
        </div>
    </div>
</div>