<!-- Emergency Contacts Card -->
<div class="card m-3">
    <div class="card-body">
        <div class="mb-4">
            <span style="font-weight: bold; font-size: 25px">Emergency Contacts</span><br>
            <span>In case of an emergency, please feel free to call our emergency numbers. Our team at L.E.
                Transformation
                is always keen to be there for you.</span>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of contacts">
                    <td>{{item.name}}</td>
                    <td><a href="tel:{{item.phone}}">{{item.phone}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>